*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 2rem;
    transition: all .5s linear;
}

button{
    padding: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}
button:nth-child(1) {
    background-color: #0ba546;
    border: 2px solid #0ba546;
}
button:nth-child(1):hover {
    background-color: #65f59c;
    border: 2px solid #51f590;
}